@{
    ViewData["Title"] = "Sign in";
}

@model UserRequest
<main class="section">
    <div class="container">
        <h1 class="title-1">Sign in page</h1>
        <div class="card">
            <form method="post" asp-action="SignIn" class="card-form">
                <div class="input">
                    <input class="input-field" required type="text" asp-for="Username" name="Username" />
                    <label class="input-label" for="Username">Username</label>
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="input">
                    <input class="input-field" required type="password" id="Password" asp-for="Password" name="Password" />
                    <label class="input-label" for="Password">Password</label>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="action">
                    <button type="submit" class="action-button">Sign in</button>
                </div>
            </form>
            <div class="card-info">
                <p>You don't have a account? <a asp-controller="Account" asp-action="SignUp">Sign Up</a></p>
            </div>
        </div>
    </div>
</main>