@{
    ViewData["Title"] = "Post";
}
@model PostDTO
<main class="section">
    <div class="container">
        <h1 class="title-1">@Model.Title</h1>
        <div class="project-details__desc">
            <p>@Model.Description</p>
        </div>
    </div>
</main>