
@{
    ViewData["Title"] = "Home";
}

@model Page<PostDTO>
<header class="header">
    <div class="header__wrapper">
        <h1 class="header__title">
            <img src="./img/logo/brilliance__modern.svg" />
        </h1>
        <div class="header__text">
            <p>Guild of C# Programmers</p>
        </div>
    </div>
</header>

<main class="section">
    <div class="container">
        <ul class="projects">
            @foreach(var item in Model.Items)
            {
                <li class="project">
                    <a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                        <h3 class="project__title">@item.Title</h3>
                    </a>
                </li>
            }
        </ul>
    </div>
</main>