@{
    ViewData["Title"] = "Home";
}

<header class="header">
    <div class="header__wrapper">
        <h1 class="header__title">
            <img src="./img/logo/brilliance__modern.svg" />
        </h1>
        <div class="header__text">
            <p>Guild of C# Programmers</p>
        </div>
    </div>
</header>

<main class="section">
    <div class="container">

    </div>
</main>