@{
    ViewData["Title"] = "Privacy Policy";
}

<main class="section">
    <div class="container">
        <h1 class="title-1">@ViewData["Title"]</h1>
        <p class="title-1">Use this page to detail your site's privacy policy.</p>
    </div>
</main>



